#div1 {background: transparent;
    width: 38.5%;
    height: 300px;
    float: left;
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 10px;
}
#div2 {
    background: transparent;
    width: 34%;
    height: 300px;
    float:left;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
}
#div3 {
    background: transparent;
    width: 22%;
    height: 300px;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
}
#baike {
    background: transparent;
    width: 97%;
    height: 250px;
    float: left;
    margin: 10px;
}
#generalInfo {
    background: transparent;
    width: 100%;
    height: 110px;
}
#forecast {
    background: transparent;
    width: 100%;
    height: 110px;
}
#text {
    background: transparent;
    width: 63%;
    height: 590px;
    float:left;
    margin: 10px;
}
#allmap {
    background: transparent;
    width: 33%;
    height: 590px;
    float: left;
    margin:10px
}
#finance {
    background:transparent;
    width:93%;
    height:135px;
    margin:10px;
}

#f1 {
    background:transparent;
    width:100%;
    height:60px;
}
#f2 {
    background:transparent;
    width:100%;
    height:60px;
}
#environment {
    background:transparent;
    width:93%;
    height:135px;
    margin:10px;
}
#e1 {
    background:transparent;
    width:100%;
    height:60px;
}
#e2 {
    background:transparent;
    width:100%;
    height:60px;
}
#society {
    background:transparent;
    width:93%;
    height:135px;
    margin:10px;
}
#s1 {
    background:transparent;
    width:100%;
    height:60px;
}
#s2 {
    background:transparent;
    width:100%;
    height:60px;
}
#technology {
    background:transparent;
    width:93%;
    height:135px;
    margin:10px;
}
#t1 {
    background:transparent;
    width:100%;
    height:60px;
}
#t2 {
    background:transparent;
    width:100%;
    height:60px;
}
#v1 {
    background:transparent;
    width:100%;
    height:47px;
}
#v2 {
    background:transparent;
    width:100%;
    height:47px;
}
#v3 {
    background:transparent;
    width:100%;
    height:47px;
}
#v4 {
    background:transparent;
    width:100%;
    height:47px;
}
#v5 {
    background:transparent;
    width:100%;
    height:47px;
}
#v6 {
    background:transparent;
    width:100%;
    height:47px;
}
*{
    margin: 0;
    padding: 0;
}
#canvas{
    position: fixed;
    background: skyblue;
    overflow: auto;
    z-index: -1;
}